/* global styles */
*{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;

  }
/* LOGIN PAGE CSS */
html{
    background: #151515;
    margin-bottom: 1000px;
}
.navWrapper{
    padding: 0.1rem 1.5em;
    max-width: 1740px;
    margin: 0 auto;
}
.wrapper{
    padding: 0.1rem 1.5em;
    max-width: 1500px;
    margin: 0 auto;
}



.landingBlock{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-image: url("img/mainbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}




.navContain nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navContain .logo{
    font-weight: 600;
    font-size: 25px;
}

.logo span{
    color: #FF4857;
    font-style: italic;
}

.learnBtn{
    font-size: 14px;
    font-weight: 500;
    background-color: #FF4857;
    border-radius: 5px;
    padding: 0.8rem;
    transition: background-color 0.25s ease-in;
    
}

.learnBtn:hover{
    background-color: rgb(236, 64, 79);
}

/* heading css */
.landingSplit{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.landingHeading{
    text-align: center;
}

.landingHeading h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.landingHeading .titleBg{
    position: relative;
}

.landingHeading .titleBg::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: rgba(255, 72, 87, 0.35);
    z-index: 1;
    height: 30%;   
}

.landingHeading p{
    color: #f1eeee;
    font-size: 14px;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* CSS FOR LOGIN FORM */

#loginForm{
    background: #151515;
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    border-radius: 20px;
}

#loginForm h1{
    margin-bottom: 40px;
}

#loginForm h1, #loginForm p{
    text-align: center;
}

.formRow{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.formRow label{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 3px;
}

#usernameField, #passwordField{
    height: 40px;
    outline: none;
    padding: 0.1rem 0.4rem;
    border: none;
    border-radius: 7px;
    background: #222222;
    transition: background 0.3s linear;
}

#usernameField:focus, #passwordField:focus{
    background: #363636;
}
#usernameField:hover, #passwordField:hover{
    background: #363636;
}


.submitRow{
    margin-bottom: 0;
    margin-top: 30px;
}

#loginSubmitBtn{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 7px;
    background: #FF4857;
    font-weight: 500;
    transition: background 0.25s ease-in;
    cursor: pointer;
    font-size: 16px;
}

#loginSubmitBtn:hover{
    background-color: rgb(236, 64, 79);
}

.loginFormLine{
    background-color: #6C6B74;
    border: none;
    height: 2px;
    width: 150px;
    margin: 30px auto;
    border-radius: 30px;
}

.loginFormP{
    font-size: 14px;
}

#loginFormSignUp{
    color: #FF4857;
    text-decoration: underline;
    transition: color 0.25s ease-in;
}

#loginFormSignUp:hover{
    color: rgb(236, 64, 79);
}

/* ======== RESPONSIVE CSS FOR LOGIN PAGE ============*/
@media only screen and (min-width: 700px){
    .landingHeading h1{
        width: 90%;
        font-size: 50px;

    }

    .landingHeading p{
        font-size: 15px;
        margin-top: 20px;
        width: 85%;
    }
    .formRow label{
        font-size: 16px;
    }

    .loginFormP{
        font-size: 15px;
    }

}
@media only screen and (min-width: 800px){
    .landingHeading h1{
        width: 80%;
    }
    .landingHeading p{
        width: 75%;
    }
}
@media only screen and (min-width: 1024px){
    .landingSplit{
        flex-direction: row;
        padding-top: 7rem;
    }
    .formContainer{
        flex: 1;
    }
    .landingHeading{
        text-align: left;
        flex: 1;
    }


    .landingHeading h1{
        margin-left: 0;
        font-size: 55px;
        width: 90%;
    }
    .landingHeading p{
        margin-left: 0;
        font-size: 16px;
        width: 85%;
    }

    #loginForm{
        margin-top: 0;
    }
    .loginFormLine{
        margin: 50px auto;
    }
    .loginFormP{
        font-size: 16px;
    }

}

@media only screen and (min-width: 1200px){

    .landingHeading h1{
        font-size: 65px;
    }

    .landingHeading p{
        font-size: 18px;
        width: 90%;
    }

    .loginFormP{
        font-size: 18px;
    }
    .formRow label{
        font-size: 18px;
    }
    #loginForm h1{
        font-size: 40px;
    }

    #loginSubmitBtn{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1500px){
    .landingHeading h1{
        font-size: 80px;
        width: 85%;
    }
    .landingHeading{
        flex: 1.5;
    }

    .landingHeading p{
        width: 80%;
    }
}