{% extends "vLayout.html" %}
{% block title %}Just Gym{% endblock %}
{% block page %}Login (this nav will be gone){% endblock %}

{% block content %}
<!-- landing -->

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="landingBlock">
        <div class="navWrapper">
            <div class="navContain">
                <nav>
                    <a href="/login" class="logo">Just<span>Gym</span></a>
                    <a href="#learnMore" class="learnBtn">Learn More</a>
                </nav>
            </div>
        </div>
            <!-- heading -->
        <div class="wrapper ">
            <div class="landingSplit">
                <div class="landingHeading">
                    <h1> 
                        <span class="titleBg">Fitn<span>e</span>ss</span> is not just a hobby,
                        It’s a way of <span class="titleBg">life</span>
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ratione aliquid. Quibusdam qui quisquam totam distinctio nostrum odit non. Quaerat quo quasi repellat qui repudiandae.
                    </p>
                </div>
                <div class="formContainer">
                    <form id="loginForm" method="POST" action="/login">
                        <h1>Login</h1>
                        <div class="formRow">
                            
                            <label for="username">Username</label>
                            <input type="text" name="username" class="formField usernameField">
                        </div>
                        <div class="formRow">
                            
                            <label for="password">Password</label>
                            <input required type="password" name="password" class="formField passwordField">
                        </div>
                        <div class="formRow submitRow">
                            <input required class="submitBtn" type="submit" value="Login">
                        </div>
                        
                        <hr class="loginFormLine">
                        <p class="loginFormP">Dont have an account? <a href="/signup" id="loginFormSignUp">Sign up</a></p>
                        
                    </form>
                </div>
            </div>
        </div>
</div>
<!-- 
<div id="learnMore" class="learnMoreSection">
    <div class="wrapper">
        <h1>BITCH</h1>

    </div>
</div>
<a href="/login">pls work</a> -->



{% endblock %}