{% extends "vLayout.html" %}
{% block title %}Sign Up{% endblock %}
{% block page %}Login (this nav will be gone){% endblock %}

{% block content %}
<div class="navWrapper">
    <div class="navContain">
        <nav>
            <a href="/login" class="logo">Just<span>Gym</span></a>
        </nav>
    </div>
</div>

<div class="signupBlock">
  <div class="signupLeft">
  </div>
  <div class="signupRight">

    <form action="/signup" method="POST" id="signupForm">
      <h1>Sign Up</h1>

      <div class="formRow">                  
        <label for="username">Username</label>
        <input required type="text" name="username" class="formField usernameField">
      </div>

      <div class="formRow">                  
        <label for="email">E-mail</label>
        <input required type="email" name="email" class="formField emailField">
      </div>

      <div class="formRow">                  
        <label for="password">password</label>
        <input required type="password" name="password" class="formField passwordField">
      </div>

      <div class="formRow">                  
        <label for="dateOfBirth">Date Of Birth</label>
        <input required type="date" name="dateOfBirth" class="formField dobField">
      </div>

      <div class="formRow">                  
        <label for="height">height (unit?)</label>
        <input required type="number" name="height" class="formField heightField">
      </div>

      <div class="formRow">                  
        <label for="weight">weight (unit?)</label>
        <input required type="number" name="weight" class="formField weightField">
      </div>

      <div class="formRow">
        <p>Please select your sex</p>
        <div class="radioBtnRow">
          <span>
            <input type="radio" name="sex" class="sexField" value="male">
            <label for="sex">Male</label>
          </span>
          
          <span>
            <input type="radio" name="sex" class="sexField" value="female">
            <label for="sex">Female</label>
          </span>
          
          <span>
            <input type="radio" name="sex" class="sexField" value="idk">
            <label for="sex">idk</label>
          </span>   
        </div>

        <div class="formRow submitRow">
          <input required class="submitBtn" type="submit" value="Sign Up">
      </div>
             
      </div>
    </form>
  </div>
</div>

{% endblock %}