{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/users">
        
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
      <li><a href="/logout">Logout</a></li>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th><th>Email</th><th>Date of Birth</th><th>Age</th><th>Height(cm)</th><th>Weight(kg)</th><th>BMI</th><th>Sex</th><th>Data</th><th>Preferences</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.dateOfBirth}}</td>
              <td>{{user.age}}</td>
              <td>{{user.height}}</td>
              <td>{{user.weight}}</td>
              <td>{{user.bmi}}</td>
              <td>{{user.sex}}</td>
              <td>{{user.data}}</td>
              <td>{{user.preferences}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
      <div>
        <h2>CURRENT USER</h2>
        <p>{{current_user.id}}</p>
        <p>{{current_user.username}}</p>
        <p>{{current_user.email}}</p>
        <p>{{current_user.dateOfBirth}}</p>
        <p>{{current_user.age}}</p>
        <p>{{current_user.height}}</p>
        <p>{{current_user.weight}}</p>
        <p>{{current_user.bmi}}</p>
        <p>{{current_user.sex}}</p>
        <p>{{current_user.data}}</p>
        <p>{{current_user.preferences}}</p>
      </div>
    </div>

{% endblock %}
